.images{
  display:flex;
  flex-direction: row;
  gap: 5px;
  margin: 25px;
  }
.map{
  width: 1700px;
}
.content {
  background-color:#CBDDD1;
  width:525px;
  padding:5px;
  font-family:'Lucida Sans';
  line-height: 2em;
}
#map{
  height: 700px;
  width: 1070px;
  margin: 0px;
  border-radius: 30px;
  padding-right: 10px;
}