.images{
  display:flex;
  gap: 50px;
  margin: 100px;
  }
.map{
  border-radius: 30px;
  padding-left: 10px;
  }
.coming-soon {
    background-color:#CBDDD1;
    width: 700px;
    margin: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
