.images{
  display:flex;
  gap: 50px;
  margin: 100px;
  }
.map{
  border-radius: 30px;
  padding-right: 10px;
  }
  .content {
    background-color:#CBDDD1;
    width: 1000px;
    margin: 100px;
    font-family:'Lucida Sans';
    line-height: 0.5em;
  }
